/*
Rouge : #e8425c, #f2757a
Orange : #f7a838, #fbb669
Jaune : #fcc433, #ffcd6b
Vert : #93c24e, #a0d07e
Bleu : #82cff5, #8dd7f7
Indigo : #0053a1, #3b72b8
Violet : #a067a8, #a781ba
*/

@font-face {
	font-family: brush;
	src: url(brush.otf);
}

h1 {
	font-family: brush;
	font-size: 70pt;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

h3 {
    font-family: Acephimere;
	font-style: italic;
	margin-bottom: 0px;
}

h4 {
    font-family: Acephimere;
    font-style: italic;
	margin-top: 2px;
	margin-bottom: 2px;
}

#rectangle {
	width:auto;
	height:7px;
	background-image: linear-gradient(to left, #e8425c, #f7a838, #fcc433, #93c24e, #82cff5, #0053a1, #a067a8);
	margin-bottom: 10px;
}

#mep {
	text-align: center;
	padding-bottom: 50px;
}

#marge {
	margin-right: 125px;
	margin-left: 125px;
}

#mep img:nth-of-type(2) {
	margin-top: 50px;
	margin: 125px;
	padding-bottom: 20px;
}

#mep1 {
	text-align: center;
}

#mep2 {
	text-align: center;
	margin: 50px;
}

#mep2 img {
	margin-left: 150px;
	margin-right: 150px;
}

#mep3 {
	text-align: center;
	margin: 50px;
}

footer {
	text-align: center;
}

#texte p {
	font-family: Corbel;
	margin: 0px;
}

/*Rouge*/
#titre_rouge{
	color: #e8425c;
}

#rectangle_rouge {
	width:auto;
	height:7px;
	background-color: #e8425c;
}

.rouge {
	color: #e8425c;
}

/*Orange*/
#titre_orange {
	color: #f7a838;
}

#rectangle_orange {
	width:auto;
	height:7px;
	background-color: #f7a838;
}

.orange {
    color: #f7a838;
}

/*Jaune*/
#titre_jaune {
	color: #fcc433;
}

#rectangle_jaune {
	width:auto;
	height:7px;
	background-color: #fcc433;
}

.jaune {
	color: #fcc433;
}

/*Vert*/
#titre_vert {
	color: #93c24e;
}

#rectangle_vert {
	width:auto;
	height:7px;
	background-color: #93c24e;
}

.vert {
	color: #93c24e;
}

/*Bleu*/
#titre_bleu {
	color: #82cff5;
}

#rectangle_bleu {
	width:auto;
	height:7px;
	background-color: #82cff5;
}

.bleu {
	color: #82cff5;
}

/*Indigo*/
#titre_indigo {
	color: #0053a1;
}

#rectangle_indigo {
	width:auto;
	height:7px;
	background-color: #0053a1;
}

.indigo {
	color: #0053a1;
}

/*Violet*/
#titre_violet {
	color: #a067a8;
}

#rectangle_violet {
	width:auto;
	height:7px;
	background-color: #a067a8;
}

.violet {
	color: #a067a8;
}

div.button {
    margin: 20px auto;
}

button.buttonAlert {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}

.button .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}
